*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}

html,body{
	/*overflow-x: hidden;*/
	height: 100%;
}

img{
	width: 85%;

}
.clear{
	clear: both;
}

/*Boot Css*/
.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}
.w50{
	width: 50%;
	padding: 0 10px;

}
.w33{
	width: 33.3%;
}
.w100{
	width: 100%;
}

.left{
	float: left;
}
.right{
	float: right;
}

/*estylizar o site*/
header{
	background-color: #475F94;
	padding: 16px 1%;
}
.logo{
	float: left;
}
.logo a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.menu-desktop{
	float: right;
}
.menu-btn{
	color: white;
	font-size: 26px;
	cursor: pointer;

}
.menu-mobile{
	float: right;
	display: none;
}
.menu-mobile ul{
	display: none;
	width: 100%;
	z-index: 3;
	text-align: center;
	position: absolute;
	top: 68px;
	left: 0;
	background-color: #566ea3;

}

.menu-mobile li{
	padding: 8px 0;
	border-bottom: 1px solid #999;
}
.menu-mobile li:hover{
	background-color: rgba(999,999,999,0.1);
}
.menu-mobile a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	font-weight: 300;
}

.menu-desktop li{
	display: inline-block;
	padding: 0 12px;

}
.menu-desktop a{
	color: white;
	text-decoration: none;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 300;
	
}

.banner-principal{
	width: 100%;
	height: 600px;
	position: relative;
	

	
}

.banner-principal-single{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: none;
}
.bollets{
	position: absolute;
	z-index: 5;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
.bollets span{
	cursor: pointer;
	margin: 0 4px;
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #728639;
}
.bollets span.select-bollets{
	background-color: white;
}

.overley{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
}

.banner-principal form{
	width: 100%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}

.banner-principal form h2{
	color: white;
	font-size: 32px;
	text-align: center;
	font-weight: 400;
	margin-bottom:  10px;
}

.banner-principal form input[type="email"]{
	width: 98%;
	height: 50px;
	padding-left: 8px;
	font-size: 17px;
}
.banner-principal form input[type="submit"]{
	width: 98%;
	height: 50px;
	margin-top:15px;
	cursor: pointer;
	font-size: 24px;
	background-color: #107AB0;
	border: 0;
	color: white;
	line-height: 50px;
}

.descricao-autor{
	padding: 30px 0;
}
.descricao-autor h2{
	font-size: 26px;
	margin-bottom: 8px;
	font-weight: 400;
}
.descricao-autor p{
	margin-bottom: 10px;
	font-size: 17px;
	color: #555;
}
.especialidas{
	padding:30px;
	background-color: #ccc;
}
.especialidas h2.title{
	text-align: center;
	font-size: 33px;
	color: #555;
	font-weight: 400;
}

.box-especialidades{
	padding: 20px 3%;
	text-align: center;
}
.box-especialidades h3{
	color: #6D5ACF;
	font-size: 36px;
	margin-bottom: 10px;
}
.box-especialidades h4{
	color: #555;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 5px;
}
.box-especialidades p{
	color: #555;
	font-size: 17px;	
}

.extras{
	padding: 30px;
	background-color: #6D5ACF;
}
.extras h2.title{
	color: white;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 400;
}
.depoimento-single{
	border-bottom: 1px solid white;
	padding: 12px 0;
}
.depoimento-single p{
	margin-bottom: 15px;
	color: white;
	font-weight: 300;
	font-size: 17px;
}

.depoimento-descricao p{
	
}
p.nome-autor{
	font-size: 20px;
	font-weight: bold;

	
}
.servicos-container,.depoimento-container{
	padding: 0 2%;
}

.servicos{
	padding: 12px 0;
}
.servicos ul{
	color: white;
	font-size: 17px;
	font-weight: 300;

}
.servicos li{
	margin-bottom: 30px;
}

footer{
	padding: 40px;
	background-color: #9900FA;
}

footer p{
	text-align: center;
	color: white;
	font-size: 24px;
}

.erro-404{
	
	text-align: center;
}
.wraper-erro{
	width: 100%;
	max-width: 1280px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.wraper-erro h2{

	border-top: 2px solid #555;
	font-size: 32px;
	color: #555;
}

.wraper-erro p{
	font-size: 18px;
	color: black;
}
.wraper-erro a{
	font-size: 20px;
	color: blue;
}

.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
}

#map{
	width: 100%;
	height: 380px;
}

.contato{
	padding: 30px 0;
}
.contato input[type="text"],.contato input[type="email"]{
	width: 98%;
	max-width: 600px;
	display: block;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 8px;
	border: 1px solid #555;
	font-size: 17px;
}
.contato textarea{
	width: 98%;
	max-width: 600px;
	height: 120px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #555;
	font-size: 17px;
}
.contato input[type="submit"]{
	width: 120px;
	max-width: 600px;
	display: block;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color:#475F94; 
	font-size: 22px;
	border: 0;
	color: white;
	cursor: pointer;
}


.loader-ajax{
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	z-index: 999;
}

.loader-ajax img{
	width: 45px;
	height: 45px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.erro{
	z-index: 9999;
	display: none;
	width: 500px;
	padding: 10px;
	background-color: #FA4224;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 27px;
	position: fixed;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);	
	
}


.sucesso{
	display: none;
	z-index:9999;
	width: 500px;
	padding: 10px;
	background-color: #728639;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 27px;
	position: fixed;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);	
	
}
	









@media screen and (max-width: 768px){
	.w50{
		padding: 20px;
		width: 100%;
	}
	img{
		display:block;
		margin: 0 auto;
		float: none !important;
	}

	.menu-desktop{
		display: none;
	}
	.menu-mobile{
		display: block;
	}

	.logo{
		padding: 4px;
	}
	.w33{
		width: 100%;
	}

}